.image {
    display: block;
    margin: 10px auto;


}

.js-noImage {
    display: none;
    visibility: collapse;

}

.images {
    max-width: 355px;
    width: 100%;
    display: block;
    margin: auto;

}

.image__header {
    text-align: center;
}